
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <div class="icons">
      <i class="bi bi-facebook"></i>
    <i class="bi bi-instagram"></i>
    <i class="bi bi-whatsapp"></i>
    </div>
    <div class="copyright">
      <p>copyright ©️ 2022 All Rights Reserved</p>
    </div>
   
  </div>
</div>
</body>
</html>
